# local dev files
md/
dev-notes/
showcase/
bench-results/
issues.md
backlog.md
features.md
errors.md

# documentation
dev-docs/
coverage/

# node & npm
node_modules/
.npmrc
dist/

# editors
.vscode/

